# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Directories
obj

# Executable
dist/bin/main
dist/bin/server
dist/bin/client

# Misc
dist/bin/Ogre.log
TODO
