# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Directories
obj
dist/media

# Executable
dist/bin/main

# Misc
dist/bin/Ogre.log
